###########################################
###Relacionado a Spring - Hibernate , profile y admin
###########################################

spring:
  profiles:
    active: default
    
  application:
    name: citas-hce
        
#Admin Boot    
  boot:
    admin:
      #url:  http://localhost:1111
      #username: admin
      #password: 1234

#Info DB    
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://ec2-54-163-237-25.compute-1.amazonaws.com:5432/dbnpo31kqq31v1?ssl=true&sslfactory=org.postgresql.ssl.NonValidatingFactory
    username: eiqoxzmemjjjus
    password: 3e1ffc818df74462cc1bee7c496923decd6e982683ffd3e8a2e8a7f0b5ed9ee3

#Info Persistencia JPA y Hibernate                      
  jpa:    
    properties:
      hibernate:                             
        current_session_context_class: org.springframework.orm.hibernate4.SpringSessionContext
        naming_strategy:  org.hibernate.cfg.DefaultNamingStrategy
        #naming-strategy:  org.hibernate.cfg.ImprovedNamingStrategy        
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true          
        packagesToScan : pe.royalsystems.springerp.model



#Atributos personalizados para la documentacion del API con SWAGGER

swagger:
  info:
    title: Spring Boot REST API XXX
    description: Spring Boot REST API - Citas - HCE - Salud
  

                
---
spring:
  profiles: default        
        
###########################################
####Relacionado al despliegue  PROFILE DEFAULT
###########################################
server:
  port: ${vcap.application.port:8102}

        
---
spring:
  profiles: publicado
        
###########################################
####Relacionado al despliegue  PROFILE LOCAL
###########################################
server:
  port: ${vcap.application.port:8061}

                
                